<!DOCTYPE html>
<html>
<head>

    {% block title %}
    <title>FDXP</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% block stylesheet %}
    <link href="{{ asset('css/bundled.min.css') }}" rel="stylesheet" media="screen">
    {% endblock %}
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Flight Dispatch</a>
        </div>
        {% block navbar %}
        <div class="collapse navbar-collapse">
            {{ knp_menu_render('main', {'style': 'navbar'}) }}
            {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <p class="navbar-text navbar-right">Signed in as {{ app.user.username }}</p>
            {% endif %}
        </div><!--/.nav-collapse -->
        {% endblock %}
    </div>
</div>


<div class="container">
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
    {%  block body %}
    <div class="text-center">
        <h1>How are you today?</h1>
    </div>
    {% endblock %}
</div>

{% block javascript %}
    {# <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/bootstrap.js') }}"></script>
    #}
    <script src="{{ asset('js/bundled.min.js') }}"></script>
{% endblock %}
</body>
</html>
