{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    <title>FDXP - Shift Log</title>
{% endblock %}
{% block body %}

    {% if app.user and is_granted('ROLE_SHIFT_MANAGER_FD') %}
    <div class="archiver row center-block {{ shift_info.menu_state }}">
        <p class="text-center">
            <a class="btn btn-warning" href="{{ path('shiftlog_archive') }}">Archive {{ shift_info.text }} shift</a>
        </p>
    </div>
    {% endif %}

    {% for info in information %}

        {% if loop.index is odd %}
            <div class="row">
        {% endif %}

        {% include 'AppBundle:ShiftLog:infotype.html.twig'
        with {'content' : info.content, 'info_type' : info.info_type, 'header' : info.info_header} %}

        {% if (loop.index is even) or loop.last %}
            </div>
        {% endif %}

    {% endfor %}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        File upload
                    </h3>
                </div>
                <div class="panel-body" id="file_upload">
                    {{ form(form, {'style': 'horizontal'}) }}
                    {% if files|length > 0 %}
                        <table class="table table-condensed table-striped">
                            <tr>
                                <th class="col-md-1">#</th>
                                <th class="col-md-9">Description</th>
                                <th class="col-md-2">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </th>
                            </tr>
                            {% for file in files %}
                                <tr>
                                    <td class="col-md-1">{{ loop.index }}</td>
                                    <td class="col-md-9">
                                        <a href="{{ vich_uploader_asset(file, 'file') }}">{{ file.description }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('shiftlog_filedelete', {'id': file.id}) }}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p class="text-center">
                            No files yet.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    {{ parent() }}
    {% if app.user and is_granted('ROLE_SHIFT_MANAGER_FD') %}
        <script src="//cdn.ckeditor.com/4.4.7/basic/ckeditor.js"></script>
        <script>
            $('.edit_button').click(function(){
                var info_type = $(this).data('id');
                var editor = CKEDITOR.instances[info_type];
                if (!editor)
                {
                    CKEDITOR.replace(info_type);
                    $('#'+ info_type +'_save').removeClass('invisible');
                }
            })
            $('#shiftlogfile_file').fileinput({'showPreview' : false});
            $('.save_button').click(function(){
                var info_type = $(this).data('id');
                var editor = CKEDITOR.instances[info_type];
                if (editor)
                {
                    $.post( "{{ path('shiftlog_update') }}/"+ info_type,
                            { content: CKEDITOR.instances[info_type].getData() } );
                    CKEDITOR.instances[info_type].destroy();
                    $('#'+ info_type +'_save').addClass('invisible');
                }
            })
            function checkTimer(){
                $.getJSON("{{ path('shiftlog_timecheck') }}", function(json){
                    if(json.activate === 0){
                        if(!$('.archiver').hasClass('hidden')){
                            $('.archiver').addClass('hidden');
                        }
                    }else{
                        if(!$('.archiver').hasClass('show')){
                            $('.archiver').removeClass('hidden');
                        }
                    }
                });
            }
            setInterval(checkTimer, 60000);
        </script>
    {% endif %}
{% endblock %}
